<div>
<div class="wrapper">
    <div class="container-fluid">
        <article class="row" style="font-family: 'Lucida Sans Unicode'">           
            <h2>Listado de las habitaciones</h2>
        </article>
        <hr style="height: 2px; background-color: #333">
        <div class="panel panel-default">
            <div class="panel-body" >
                <div class="row">
                    <section style="margin-left: 8px;margin-right: 8px;">
                        <div style="float: left">
                            <p><label>Habitaciones correspondiente al:</label><i>&nbsp;{{fechaHoy}}</i><br>
                                    &nbsp;&nbsp; <b>Disponible:</b> <i class="fa fa-bed" style="color: green" aria-hidden="true"></i><br>
                                    &nbsp;&nbsp; <b>Ocupada:</b> <i class="fa fa-bed" style="color: red" aria-hidden="true"></i><br>
                                    &nbsp;&nbsp; <b>Reservada:</b> <i class="fa fa-bed" style="color: yellow" aria-hidden="true"></i><br>
                            </p>
                        </div>
                        <div style="float: right; font-family: cursive; color: #333;margin-right: 30px;"> 
                            <section>
                                <button data-toggle="collapse" data-target="#escogerDia">Fecha</button>
                                <div style="float: right; margin-right: 30px; padding: 10px;" id="escogerDia" class="collapse">
                                    <form>
                                        <div class="form-group">
                                            <label>Dia:</label>
                                            <section>
                                                <div style="width: 160px; float: left;">
                                                    <input type="date" class="form-control" ng-model="diaEscogido">
                                                </div>
                                                <div style="float: left">
                                                    <button class="btn btn-default" ng-click="obtenerHabitacionesDia(diaEscogido)">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </section>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <section style="padding: 20px;">
                        <section><a data-toggle="modal" data-target="#nuevaHabitacion" style="color: #00733e;">Agregar nueva habitación</a></section>
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Habitacion</th>
                                <th>Capacidad</th>
                                <th>Tipo</th>
                                <th>Precio</th>
                                <th>Estado Actual</th>
                                <th>Opciones</th>
                              </tr>
                            </thead>
                            <tbody style="font-family: 'Lucida Sans Unicode'">
                                <tr ng-repeat="habitacion in habitaciones" >
                                    <td>H-{{habitacion.id}}</td>
                                    <td>{{habitacion.capacidad}}</td>
                                    <td>{{habitacion.tipo}}</td>
                                    <td>{{habitacion.precio}}c/u</td>
                                    <td class="text-center">
                                        <div ng-show="habitacion.estado === 'Disponible'" >
                                            <a href="#reservar"><i class="fa fa-bed fa-2x" style="color: green" aria-hidden="true"></i></a>
                                        </div>
                                        <div ng-show="habitacion.estado === 'Reservada'" >
                                            <a data-toggle="modal" data-target="#detalleReserva">
                                                <i class="fa fa-bed fa-2x" style="color: yellow" aria-hidden="true"></i></a>
                                        </div>
                                        <div ng-show="habitacion.estado === 'Ocupada'" >
                                            <a><i class="fa fa-bed fa-2x" style="color: red" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-info" ng-click="modificarHabitacion('Modificar',habitacion)">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>    
        </div>
    </div>
</div>
    
    
 <!-- Modal -Detalle de la reserva -->
<div class="modal fade" id="detalleReserva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Detalles de la reservación</h4>
            </div>
            <div class="modal-body">
            <div class="row" >
                <div style="margin-left: 30px">
                    <section class="row">
                        <h4>Reserva</h4>
                    </section>
                    <div class="row">
                        <div style="float: left" class="col-lg-6">
                            <section>
                                <label>id: </label>&nbsp; {{detalleReserva.id}}
                            </section>
                            <section>
                                <label>Entrada: </label>&nbsp; {{detalleReserva.fEntrada}}
                            </section>
                            <section>
                                <label>Habitación: </label>&nbsp; {{detalleReserva.habitacion}}
                            </section>
                        </div>
                        <div style="float: left">
                            <section>
                                <label>Hecha por: </label>&nbsp; {{detalleReserva.usuario}}
                            </section>
                            <section>
                                <label>Salida: </label>&nbsp; {{detalleReserva.fSalida}}
                            </section>
                            <section>
                                <label>Acompañantes: </label>&nbsp; {{detalleReserva.acompannantes}}
                            </section>
                        </div>
                    </div>
                    <section class="row" >
                        <h4>Cliente</h4>
                    </section>
                    <div class="row">
                        <div style="float: left" class="col-lg-6">
                            <section>
                                <label>Cedula: </label>&nbsp; {{detalleReserva.cedula}}
                            </section>
                            <section>
                                <label>Correo: </label>&nbsp; <a href="mailto:{{detalleReserva.correo}}">{{detalleReserva.correo}}</a>
                            </section>
                            <section>
                                <label>Direción: </label>&nbsp; {{detalleReserva.direccion}}
                            </section>
                        </div>
                        <div style="float: left">
                            <section>
                                <label>Nombre: </label>&nbsp; {{detalleReserva.nombre}}
                            </section>
                            <section>
                                <label>Telefono: </label>&nbsp; {{detalleReserva.telefono}}
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
 
 <!-- Modal -Agregar habitacion -->
<div class="modal fade" id="nuevaHabitacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Nueva habitación</h4>
            </div>
            <div class="modal-body">
                <div class="row" >
                    <div style="font-family: cursive" class="col-lg-10">
                        <article style="float: right">
                            <p>Digite un id numerico para la habitacion nueva; ejemplo H-"01"</p>
                        </article>
                    </div> 
                </div>
                <div class="row" >
                    <div class="col-lg-10" style="margin-left: 75px;">
                        <form>
                            <div class="form-group">
                                <div style="float: left">
                                    <label>Habitación</label>
                                    <input class="form-control" ng-model="nuevaH.idH">
                                </div>
                                <div style="float: left; margin-left: 30px">
                                    <label>Capacidad</label>
                                    <input class="form-control" ng-model="nuevaH.capacidadH">
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="float: left">
                                    <label>Tipo</label>
                                    <input class="form-control" ng-model="nuevaH.tipoH">
                                </div>
                                <div style="float: left; margin-left: 30px">
                                    <label>Precio</label>
                                    <input class="form-control" ng-model="nuevaH.precioH">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="agregarNuevaHabitacion(idH,capacidadH,tipoH,precioH,nuevaH)" 
                        class="btn btn-success"  data-dismiss="modal">Agregar</button>
            </div>
        </div>
    </div>
</div>
 
<a href="" data-toggle="modal" data-target="#modificarHabitacion" id="linkDirecto"></a> 

<!-- Modal -Modificar habitación -->
<div class="modal fade" id="modificarHabitacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modificar habitación</h4>
            </div>
            <div class="modal-body">
                <div class="row" >
                    <div class="col-lg-10" style="margin-left: 75px;">
                        <form>
                            <div class="form-group">
                                <div style="float: left" class="col-lg-5">
                                    <label>Habitación</label>
                                    <p style="font-size: 16px;" >&nbsp;&nbsp;&nbsp; H-{{dhModificar.id}}</p>
                                </div>
                                <div style="float: left; margin-left: 30px">
                                    <label>Capacidad</label>
                                    <input class="form-control" ng-model="dhModificar.capacidad">
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="float: left">
                                    <label>Tipo</label>
                                    <input class="form-control" ng-model="dhModificar.tipo">
                                </div>
                                <div style="float: left; margin-left: 30px">
                                    <label>Precio</label>
                                    <input class="form-control" ng-model="dhModificar.precio">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"  ng-click="modificarHabitacion('Confirmacion',dhModificar)"
                        data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
 
</div>