<div>
<div class="wrapper">
    <div class="container-fluid">
        <div class="row" style="font-family: 'Lucida Sans Unicode'">           
            <h2>Registro de Reservaciones</h2>
        </div>
        <hr style="height: 2px; background-color: #333">
        <div class="row col-md-12"> <!--  well well-sm-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div style="font-size: 15px; font-family: 'Lucida Sans Unicode'" >
                        Nueva Reservación
                    </div>
                </div>
                <div class="panel-body"> <!-- col-md-11 -->
                    <div style="margin-left: 30px;">
                        <form for="Datos de la reserva">
                            <div class="row">
                                <section class="row">
                                    <h4>Datos de la reservación</h4>
                                </section>
                                <section class="row">
                                    <div style="margin-left: 20px" >
                                        <section class="row">   
                                            <div class="col-md-2 form-group">
                                                <label>Fecha de Entrada</label>
                                                <div style="width:160px">
                                                    <input type="date" class="form-control " ng-model="fechaEntrada">
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <label>Hora de Entrada</label>
                                                <input type="time" class="form-control " ng-model="horaEntrada">
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <label>Habitación</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Disponible" ng-model="numeroHabitacion">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default" data-toggle="modal" data-target="#habitacionesDisponibles"
                                                                ng-click="obtenerReservasDisponiblesRango(fechaEntrada,fechaSalida)"
                                                                ><i class="fa fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <label>Tipo de pago</label>
                                                <select class="form-control" ng-model="tipoPago" ng-change="tipoInfoTipoPago(tipoPago)">
                                                    <option value="Tarjeta">Tarjeta</option>
                                                    <option value="Agencia">Agencia</option>
                                                    <option selected value="Efectivo">Efectivo</option>
                                                    <option value="Deposito Bancario">Deposito Bancario</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 form-group" style="font-family: cursive;">
                                                <div style="margin-left: 50px;margin-top: 20px;">
                                                    <section>
                                                        <label><a style="color: #001a35" >Agregar nuevo cliente</a></label>
                                                    </section>
                                                    <section>
                                                        <label><a style="color: #001a35" >Modificar información del cliente</a></label>
                                                    </section>
                                                    <section>
                                                        (Presione cualquier opción)
                                                    </section>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="row">
                                            <div class="col-md-2 form-group">
                                                <label>Fecha de Salida</label>
                                                <div style="width:160px">
                                                    <input type="date" class="form-control" ng-model="fechaSalida">
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <label>Hora de Salida</label>
                                                <input type="time" class="form-control " ng-model="horaSalida">
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <label>Acompañantes</label>
                                                <input type="text" class="form-control " ng-model="acompanantes">
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <label>Datos del tipo de pago</label>
                                                <div ng-show="infoTipoTarjeta">
                                                    <input type="text" class="form-control" placeholder="Numero Tarjeta" ng-model="numeroTarjeta">
                                                </div>
                                                <div ng-show="infoTipoAgencia">
                                                    <input type="text" class="form-control" placeholder="Cedula Juridica" ng-model="cedulaJuridica">
                                                </div>
                                                <div ng-show="infoTipoEfectivo">
                                                    <input type="text" class="form-control" placeholder="Cantidad que respaldo" ng-model="cantidadRespaldo" >
                                                </div>
                                                <div ng-show="infoTipoDepositoBancario">
                                                    <input type="text" class="form-control" placeholder="Nombre Banco" ng-model="nombreBanco">
                                                    <hr class="lineaHorizontal">
                                                    <input type="text" class="form-control" placeholder="Numero Cuenta" ng-model="numeroCuenta">
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </section>
                            </div>
                            <br>
                            <div class="row">
                                <section class="row">
                                    <h4>Información del cliente</h4>
                                </section>
                                <section class="row">
                                    <div style="margin-left: 20px" >
                                        <section class="row" >
                                            <div class="col-md-2 form-group">
                                                <label>Cedula Cliente</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control " placeholder="2-0222-0222" ng-model="cedulaCliente">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default" ng-click="obtenerDatosCliente(cedulaCliente)">
                                                            <i class="fa fa-plus-circle"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label>Nombre Completo</label>
                                                <input type="text" class="form-control" disabled ng-model="nombreCliente">
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label>Correo</label>
                                                <input type="email" class="form-control" disabled ng-model="correoCliente">
                                            </div>
                                        </section>
                                        <section class="row">
                                            <div class="col-md-2 form-group">
                                                <label>Telefono</label>
                                                <input type="text" class="form-control" disabled ng-model="telefonoCliente">
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label>Dirección</label>
                                                <input type="text" class="form-control" disabled ng-model="direcionCliente">
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label>Nacionalidad</label>
                                                <input type="text" class="form-control" disabled ng-model="nacionalidadCliente">
                                            </div>
                                        </section>
                                    </div>
                                </section>
                            </div>
                            <div class="row">
                                <div style="float: right;margin-right: 10px">
                                    <button class="btn btn-success" 
                                            ng-click="confirmarDatos(fechaEntrada,horaEntrada,fechaSalida,horaSalida)">
                                                        Aceptar
                                                        </button>
                                    <button class="btn btn-default" ng-click="regresar()">Regresar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<!-- Modal -Habitaciones -->
<div class="modal fade" id="habitacionesDisponibles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Habitaciones disponibles para el periodo seleccionado</h4>
            </div>
            <div class="modal-body">
            <!--Cuerpo -->
            <div>
                <section style="float: right" class="form-group">
                    <label>Filtrar: </label>
                    <input class="cajaTexto" type="text" class="form-control" ng-model="busqueda">
                </section>	
            </div>
            <div style="height: 315px;overflow-y: auto;width: 583px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo</th>
                            <th>Costo</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="habitacionD in habitacionesDisponibles | filter: busqueda">
                            <td>{{habitacionD.id}}</td>
                            <td>{{habitacionD.tipo}}</td>
                            <td>{{habitacionD.costo}}</td>
                            <td>{{habitacionD.descripcion}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<a href="" data-toggle="modal" data-target="#confirmarReserva" id="linkDCR"></a>
<!-- Modal -Conformacion Reserva -->
<div class="modal fade" id="confirmarReserva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"  style="font-family: 'Lucida Sans Unicode'" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Confirmación de la reserva</h4>
            </div>
            <div class="modal-body">
                <div class="row">                  
                    <div style="margin-left: 30px">
                        <section class="row">
                            <h4>Reserva</h4>
                        </section>
                        <div class="row">
                            <div>
                                <div style="float: left" class="col-lg-6">
                                    <section>
                                        <label>Hecha por: </label>&nbsp; {{usuario}}
                                    </section>
                                    <section>
                                        <label>Entrada: </label>&nbsp; {{entrada}}
                                    </section>
                                    <section>
                                        <label>Habitación: </label>&nbsp; H-{{numeroHabitacion}}
                                    </section>
                                </div>
                                <div style="float: left" class="col-lg-6">
                                    <section>
                                        <label></label>
                                    </section>
                                    <section>
                                        <label>Salida: </label>&nbsp; {{salida}}
                                    </section>
                                    <section>
                                        <label>Acompañantes: </label>&nbsp; {{acompanantes}}
                                    </section>
                                </div>
                            </div>
                        </div>
                        <section class="row" >
                            <h4>Cliente</h4>
                        </section>
                        <div class="row">
                            <div style="float: left" class="col-lg-6">
                                <section>
                                    <label>Cedula: </label>&nbsp; {{cedulaCliente}}
                                </section>
                                <section>
                                    <label>Correo: </label>&nbsp; {{correoCliente}}
                                </section>
                                <section>
                                    <label>Direción: </label>&nbsp; {{direcionCliente}}
                                </section>
                                <section>
                                    <label>Nacionalidad: </label>&nbsp; {{nacionalidadCliente}}
                                </section>
                            </div>
                            <div style="float: left">
                                <section>
                                    <label>Nombre: </label>&nbsp; {{nombreCliente}}
                                </section>
                                <section>
                                    <label>Telefono: </label>&nbsp; {{telefonoCliente}}
                                </section>
                            </div>
                        </div>
                        <section class="row" >
                            <div class="col-md-10">
                                <hr class="lineaHorizontal">
                             </div>
                        </section>
                        <div class="row">
                            <div style="float: right;" class="col-lg-6" >
                                <div>
                                    <label>Tipo de Pago:</label>&nbsp; {{tipoPago}}
                                </div>
                                <div>
                                    <div ng-show="infoTipoTarjeta">
                                        <label>Numero Tarjeta:</label>&nbsp; {{numeroTarjeta}}
                                    </div>
                                    <div ng-show="infoTipoAgencia">
                                        <label>Cedula Juridica:</label>&nbsp; {{cedulaJuridica}}
                                    </div>
                                    <div ng-show="infoTipoEfectivo">
                                        <label>Cantidad:</label>&nbsp; {{cantidadRespaldo}}
                                    </div>
                                    <div ng-show="infoTipoDepositoBancario">
                                        <label>Nombre Banco:</label>&nbsp; {{nombreBanco}}
                                        <hr class="lineaHorizontal">
                                        <label>Cuenta:</label>&nbsp; {{numeroCuenta}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" 
                      ng-click="insertarNuevaReserva(fechaEntrada,horaEntrada,fechaSalida,horaSalida,numeroHabitacion,
                                                          cedulaCliente,acompanantes,tipoPago,numeroTarjeta,
                                                          cedulaJuridica,cantidadRespaldo,nombreBanco,numeroCuenta)"
                                                                                  >Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -Modificar Cliente -->
<div class="modal fade" id="modificarCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"  style="font-family: 'Lucida Sans Unicode'" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Modificar Cliente</h4>
            </div>
            <div class="modal-body">
                <section class="row">
                    <div style="margin-left: 20px;">
                        <section class="row" >
                            <div class="col-md-3 form-group">
                                <label>Cedula:</label>
                                <input type="text" class="form-control" ng-model="cedulaCliente">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Nombre:</label>
                                <input type="text" class="form-control" ng-model="nombreCliente">
                            </div>
                        </section>
                        <section class="row" >
                            <div class="col-md-3 form-group">
                                <label>Teléfono:</label>
                                <input type="text" class="form-control" ng-model="telefonoCliente">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Correo:</label>
                                <input type="text" class="form-control" ng-model="correoCliente">
                            </div>
                        </section>
                        <section class="row" >
                            <div class="col-md-5 form-group">
                                <label>Nacionalidad:</label>
                                <input type="text" class="form-control" ng-model="nacionalidadCliente">
                            </div>
                        </section>
                        <section class="row" >
                            <div class="col-md-9 form-group">
                                <label>Dirección:</label>
                                <input type="text" class="form-control" ng-model="direcionCliente">
                            </div>
                        </section>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"  >Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" 
                      ng-click="modificarCliente()">Confirmar</button>
            </div>
        </div>
    </div>
</div>
</div>