<div class="wrapper">
    <div class="container-fluid">
        <div class="row" style="font-family: 'Lucida Sans Unicode'">           
            <h2>Ver Clientes</h2>
        </div>
        <hr style="height: 2px; background-color: #333">
        <div class="row col-md-12"> <!--  well well-sm-->
            <div class="panel panel-default">
                <div class="panel-body"> <!-- col-md-11 -->
                    <div style="margin-left: 30px;">
                        <table  class="table table-bordered">
                            <thead>
                                <tr><th colspan="7" style="font-size: 15px; font-family: 'Lucida Sans Unicode'">Lista de Clientes</th></tr>
                                <tr><th colspan="7">Buscar: <input type="text" ng-model="filtro" placeholder="Ingrese dato del cliente"></th></tr>
                                <tr>
                                        <th>Cedula</th>
                                        <th>Nombre</th>
                                        <th>Telefono</th>
                                        <th>Correo</th>
                                        <th>Nacionalidad</th>
                                        <th>Direccion</th>
                                        <th>Acción</th>
                                </tr>
                                </thead>
                            <tbody>
                                <tr ng-repeat="c in listaClientes | filter:filtro">
                                        <td>{{ c.cedula }}</td>
                                        <td>{{ c.nombre }}</td>
                                        <td>{{ c.telefono}}</td>
                                        <td>{{ c.email }}</td>
                                        <td>{{ c.nacionalidad }}</td>
                                        <td>{{ c.direccion }}</td>
                                        <td class='text-center'> 
                                            <button class="btn btn-info" title='Modificar' data-toggle="modal" 
                                                    ng-click="guardarDatos(c.cedula,c.nombre,c.telefono,c.email,c.nacionalidad,c.direccion)"
                                                    data-target="#modificarCliente">
                                                <i class="fa fa-refresh" aria-hidden="true"></i></button>
                                        <button class="btn btn-danger" title='Eliminar' data-toggle="modal" 
                                                    ng-click='guardarCedula(c.cedula)'
                                                    data-target="#eliminarCliente">
                                            <i class="fa fa-trash-o" aria-hidden="true" ></i></button>
                                        </td>
                                </tr>
                            </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>


<!-- Modal -Modificar Cliente -->
<div class="modal fade" id="modificarCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"  style="font-family: 'Lucida Sans Unicode'" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Modificar Cliente</h4>
            </div>
            <div class="modal-body">
                <section class="row">
                    <div style="margin-left: 20px;">
                        <section class="row" >
                            <div class="col-md-3 form-group">
                                <label>Cedula:</label>
                                <input type="text" class="form-control" disabled ng-model="cedulaCliente">
                            </div>
                            <div class="col-md-7 form-group">
                                <label>Nombre:</label>
                                <input type="text" class="form-control" ng-model="nombreCliente">
                            </div>
                        </section>
                        <section class="row" >
                            <div class="col-md-3 form-group">
                                <label>Teléfono:</label>
                                <input type="text" class="form-control" ng-model="telefonoCliente">
                            </div>
                            <div class="col-md-7 form-group">
                                <label>Correo:</label>
                                <input type="text" class="form-control" ng-model="correoCliente">
                            </div>
                        </section>
                        <section class="row" >
                            <div class="col-md-5 form-group">
                                <label>Nacionalidad:</label>
                                <input type="text" class="form-control" ng-model="nacionalidadCliente">
                            </div>
                        </section>
                        <section class="row" >
                            <div class="col-md-9 form-group">
                                <label>Dirección:</label>
                                <input type="text" class="form-control" ng-model="direccionCliente">
                            </div>
                        </section>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"  >Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" 
                      ng-click="modificarCliente()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -Modificar Cliente -->
<div class="modal fade" id="eliminarCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"  style="font-family: 'Lucida Sans Unicode'" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Confirmar Operación</h4>
            </div>
            <div class="modal-body">
                <section class="row">
                    <div style="margin-left: 20px;" class="col-md-8">
                        <label>¿Está seguro de que desea eliminar el cliente?</label>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"  >Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" 
                      ng-click="eliminarCliente()">Confirmar</button>
            </div>
        </div>
    </div>
</div>